/* slider */

* {box-sizing: border-box;}
body {
  font-family: Verdana, sans-serif;
  /* background-image: radial-gradient(#ffffff, #FFF0F5); */
  background: #87ceeb;


}
.logo{
  text-align: center;
  color: #00060c;
    font-size: 15px;
}
.logo h3 {
  display: inline;
}
.mySlides {
  display: none;
vertical-align: middle;

}
.mySlides img {
  vertical-align: middle;
}


.desktop{
  display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;

}


.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}



.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* @media only screen and (max-width: 300px) {
  .text {font-size: 11px}
} */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:70%;
  }
  /* header {
    text-align: center;
  } */
  /* iconbar */
  .icon-bar {
    float:left;
    width: 25%;
    /* color: #3498db; */
    background-color: #E0FFFF;
    margin-bottom: 1%;
  }
  .icon-bar i {
    color: #3498db;
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 25px;
  }
  
  .icon-bar a:hover {
    background-color: #87CEFA;
  
  
  
  }
  
  
  
  /* .icon-bar a i:hover{
    color: #ffffff;
  } */
  
  /* .active {
    background-color: #4CAF50;
  } */