body{
    background-image: linear-gradient(rgba(0,0,0,0.5)),rgba(0,0,0,0.5),url("file:///Users/gagan/Desktop/Anmol_aman_gagan_Travelagency_FP-1/Images/images.jpeg");
    background-size: cover;
    background-position: center;
}
.booking-form-box
{
max-width: 350px;
border: 1px solid #8fbeee;
margin:10% auto 0;


}
.radio-btn
{
    margin: 0 20px;
}
.radio-btn .btn{
    margin : 20px 10px 20px 0;
    box-shadow: none;

}
.radio-btn .btn::after{
    content: ' ';
    height : 15px;
    width: 15px;
    top: -2px;
    left:-1px;
    background-color: rgb(122, 238, 132);
    position: relative;
    display: inline-block;
    border: 3px solid rgb(162, 235, 147);
    visibility: visible;
    border-radius: 50%;
}
.radio-btn .btn:checked::after{
content:'';
background-color: #000;
transition: 0.5s;
}
.radio-btn span{
    color: rgb(236, 122, 122);
    margin-right: 5px;
    font-size: 12px;
    
}
.booking-form{
    padding: 0 20px 20px;
}
.booking-form label{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 12px;
    color: rgb(130, 216, 228);
}
input::placeholder
{
    color: rgb(122, 189, 235)! important;
}
.input-grp
{
    width: 151px;
    display: inline-block;
}
.form-control
{
font-size: 12px ! important;
border-radius: 0! important;
color: rgb(236, 116, 116)! important;
background: transparent! important;
box-shadow: none! important;
}
.select-date::-webkit-inner-spin-button,
.select-date::-webkit-outer-spin-button
{
    -webkit-appearance:none;
    margin:0;

}
.select-date::-webkit-calender-picker-indicator
{
    background: transparent !important;
}
.custom-select
{
     color:rgb(236, 83, 83);
     font-size: 12px;
     border:1px solid #7db4eb;
     box-shadow: none;
     border-radius: 0;
     background:transparent !important;
}
.custom-select option{
    color: rgb(14, 12, 12);

}
.flight{
width: 100%;
padding: 9px 0 ;
font-size: 12px;
border:1px solid #7eacdb !important;
background: transparent!important;
box-shadow: none! important;
border-radius: 0!important;

}
.flight:hover{
    background: rgb(236, 83, 83)!important;
    color: #000!important;
}
